.comment {
    text-align: left;
}

.comment-nickname,
.reply-nickname {
    font-weight: bold;
    color: #000000; /* Black */
}

.comment-updateDate,
.reply-updateDate {
    font-size: 0.9em;
    color: #808080; /* Gray */
}

.comment-content,
 .reply-content {
    margin-top: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.comment-header,
.comment-content {
    text-align: left;
}

.comment-button,
.reply-button {
    font-size: 0.8em !important;
    background-color: #FFFFFF !important;
    color: #000000 !important;
    margin-left: 10px !important;
    padding: 5px !important;
    border: 1px solid #000000 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

.comment-header {
    align-items: flex-end;
}

.comment-header,
.comment-header .button-container {
    align-items: center;
}

#commentForm .form-group {
    background-color: #f2f2f2;
}

.reply-content {
    padding-top: 16px;
    padding-left: 22px;
}