<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div>
    <!-- 댓글 목록 -->
    <div class="form-group">
        <div th:each="comment : ${post.comments}" th:if="${comment.parentComment == null}">
            <div class="comment-header" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="button-container">
                    <div class="left-buttons">
                        <span class="comment-nickname" style="padding-right: 7px;"
                              th:text="${comment.nickname}"></span>
                        <span class="comment-updateDate" style="padding-left: 7px;"
                              th:text="' (' + ${comment.updateDate} + ')'"></span>
                    </div>
                    <div class="right-buttons">
                        <button th:id="'replyButton-' + ${comment.id}" class="comment-button reply">답글</button>
                        <button th:id="'deleteButton-' + ${comment.id}" class="comment-button delete"
                                th:if="${comment.nickname == session.nickname}"
                                onclick="return confirm('정말 삭제하시겠습니까?');">삭제
                        </button>
                    </div>
                </div>
            </div>
            <div class="comment-content" th:text="${comment.content}"></div>
            <div th:replace="~{form/replyForm}"></div>
        </div>
    </div>

    <!-- 댓글 입력 창 -->
    <div>
        <form id="commentForm" th:action="@{/post/{id}/comment(id=${post.id})}" th:method="post">
            <div class="form-group" style="display: flex; justify-content: space-between; max-width: 100%;">
                <th:block th:if="${session.isLoggedIn}">
                    <div style="display: flex; justify-content: center; align-items: center; width: 200px; height: 65px;">
                        <div id="nickname" name="nickname" style="font-weight: bold;"
                             th:text="${session.nickname}"></div>
                    </div>
                    <label for="commentContent"></label>
                    <textarea id="commentContent" name="commentContent" rows="3"
                              style="flex-grow: 1; margin-left: 10px; margin-right: 10px; height: 65px; max-width: 100%;"></textarea>
                    <button type="submit" style="width: 90px; height:65px; white-space: nowrap;">등록</button>
                </th:block>
                <th:block th:unless="${session.isLoggedIn}">
                    <textarea class="commentContent" name="commentContent" rows="3"
                              style="flex-grow: 1; margin-left: 10px; margin-right: 10px; height: 65px; max-width: 100%;"></textarea>
                    <button type="submit" style="width: 90px; height:65px; white-space: nowrap;">등록</button>
                </th:block>
            </div>
        </form>
    </div>

</div>