<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div>
    <!-- 답글 입력 창 -->
    <div align="center">
        <form th:id="'replyForm-' + ${comment.id}"
              th:action="@{/post/{id}/comment/{commentId}/reply(id=${post.id}, commentId=${comment.id})}"
              th:method="post"
              style="display: none; background-color: #f2f2f2;">
            <div class="form-group" align="left"
                 style="display: flex; justify-content: space-between; max-width: 100%;">
                <th:block th:if="${session.isLoggedIn}">
                    <div style="display: flex; justify-content: center; align-items: center; width: 200px; height: 65px;">
                        <div id="nickname" name="nickname" style="font-weight: bold;"
                             th:text="${session.nickname}"></div>
                    </div>
                    <label for="replyContent"></label>
                    <textarea id="replyContent" name="replyContent" rows="3"
                              style="flex-grow: 1; margin-left: 10px; margin-right: 10px; height: 65px; max-width: 100%;"></textarea>
                    <button type="submit" style="width: 90px; height:65px; white-space: nowrap;">등록</button>
                </th:block>
                <th:block th:unless="${session.isLoggedIn}">
                    <textarea class="replyContent" name="replyContent" rows="3"
                              style="flex-grow: 1; margin-left: 10px; margin-right: 10px; height: 65px; max-width: 100%;"></textarea>
                    <button type="submit" style="width: 90px; height:65px; white-space: nowrap;">등록</button>
                </th:block>
            </div>
            <hr/>
        </form>
    </div>

    <!-- 답글 목록 -->
    <div class="reply-container" style="background-color: #f2f2f2;">
        <div th:each="reply : ${comment.replies}">
            <div class="reply-header" style="display: flex; justify-content: space-between; align-items: center;">
                <img src="/images/829.png" alt="Reply Icon" style="width: 20px; height: 20px; margin-right: 5px;">
                <div class="button-container">
                    <div class="left-buttons">
                        <span class="reply-nickname" style="padding-right: 7px;"
                              th:text="${reply.nickname}"></span>
                        <span class="reply-updateDate" style="padding-left: 7px;"
                              th:text="' (' + ${reply.updateDate} + ')'"></span>
                    </div>
                    <div class="right-buttons">
                        <button th:id="'deleteButton-' + ${reply.id}" class="reply-button delete"
                                th:if="${reply.nickname == session.nickname}">삭제
                        </button>
                    </div>
                </div>
            </div>
            <div class="reply-content" th:text="${reply.content}"></div>
        </div>
    </div>

</div>

</html>